body
{
    background-color:orange;
}

.dark_mode_button
{
    font-size:25px;
    border-radius:25px;
    padding:10px;
}

.normal_mode_button
{
    font-size:25px;
    border-radius:25px;
    padding:10px;
}

.normal_mode_button:hover
{
    transition:0.5s;
    scale:1.25;
}

.dark_mode_button:hover
{
    transition:0.5s;
    scale:1.25;
}

.wheel
{
    border:5px;
    background-color:red;
    border-radius:100px;
    height:200px;
    width:200px;
    margin-top:100px;
    cursor:pointer;
}

.wheel:hover
{
    transition:0.5s;
    scale:1.25;
}

.header
{
    border:5px solid red;
    margin-top:100px;
}

.nombre
{
    margin-top:100px;
    font-size:75px;
}